In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('insurance_claims.csv')

In [3]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [4]:
null_columns = df.columns[df.isnull().all()]
df.drop(null_columns, axis=1, inplace=True)

In [5]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [6]:
columns_to_remove=["policy_number", "policy_bind_date", "policy_state","insured_zip", 
	"incident_location", "incident_date","incident_state", "incident_city", "insured_hobbies",
	"auto_make", "auto_model", "auto_year", "age", "total_claim_amount"]

In [7]:
df.replace('?',np.NaN,inplace=True)

In [8]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,NaN,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [9]:
null_counts=df.isna().sum()

In [10]:
null_counts

months_as_customer               0
age                              0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_zip                      0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_date                    0
incident_type                    0
collision_type                 178
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                360
bodily_injuries                  0
witnesses                        0
police_report_available        343
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(17), object(21)
memory usage: 304.8+ KB

In [12]:
null_present = False
cols_with_missing_values=[]
cols = df.columns

null_counts=df.isna().sum() # check for the count of null values per column

for i in range(len(null_counts)):
    if null_counts[i]>0:
        null_present=True
        cols_with_missing_values.append(cols[i])

In [13]:
cols_with_missing_values

['collision_type', 'property_damage', 'police_report_available']

In [14]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator,TransformerMixin

In [15]:
class CustomEncoder(BaseEstimator, TransformerMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X_mapped = X.copy()
        
        # Mapping for 'policy_csl'
        policy_csl_mapping = {'100/300': 1, '250/500': 2.5, '500/1000': 5}
        X_mapped['policy_csl'] = X_mapped['policy_csl'].map(policy_csl_mapping)
        
        # Mapping for 'insured_education_level'
        education_level_mapping = {
            'JD': 1, 'High School': 2, 'College': 3,
            'Masters': 4, 'Associate': 5, 'MD': 6, 'PhD': 7
        }
        X_mapped['insured_education_level'] = X_mapped['insured_education_level'].map(education_level_mapping)
        
        # Mapping for 'incident_severity'
        incident_severity_mapping = {
            'Trivial Damage': 1, 'Minor Damage': 2,
            'Major Damage': 3, 'Total Loss': 4
        }
        X_mapped['incident_severity'] = X_mapped['incident_severity'].map(incident_severity_mapping)
        
        # Mapping for 'insured_sex'
        sex_mapping = {'FEMALE': 0, 'MALE': 1}
        X_mapped['insured_sex'] = X_mapped['insured_sex'].map(sex_mapping)
        
        # Mapping for 'property_damage'
        property_damage_mapping = {'NO': 0, 'YES': 1}
        X_mapped['property_damage'] = X_mapped['property_damage'].map(property_damage_mapping)
        
        # Mapping for 'police_report_available'
        police_report_mapping = {'NO': 0, 'YES': 1}
        X_mapped['police_report_available'] = X_mapped['police_report_available'].map(police_report_mapping)

        return X_mapped

In [16]:
numerical_columns=["months_as_customer", "policy_deductable", "umbrella_limit", "capital-gains", 
	"capital-loss", "incident_hour_of_the_day", "number_of_vehicles_involved", "bodily_injuries", 
	"witnesses", "injury_claim", "property_claim", "vehicle_claim"]
categorical_columns=[ "policy_csl", "insured_sex", 
	"insured_education_level", "insured_occupation", "insured_relationship", 
	"incident_type", "collision_type", "incident_severity", 
	"authorities_contacted", "property_damage", 
	"police_report_available"]

In [17]:
input_feature_data_df = df.drop(columns=['fraud_reported'],axis=1)
target_feature_data_df = df['fraud_reported']

In [95]:
input_feature_data_df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,1,2,YES,71610,6510,13020,52080,Saab,92x,2004
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,0,NaN,5070,780,780,3510,Mercedes,E400,2007
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,0,1,NO,6500,1300,650,4550,Accura,RSX,2009

In [19]:
target_feature_data_df.head()

0    Y
1    Y
2    N
3    Y
4    N
Name: fraud_reported, dtype: object

In [96]:
input_feature_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
dtypes: float64(1), int64(17), object(20)
memory usage: 297.0+ KB

In [20]:
cat_pipeline = Pipeline(steps=[
         ('impute', SimpleImputer(strategy="most_frequent"))])

In [57]:
array=cat_pipeline.fit_transform(input_feature_data_df)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [22]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported'],
      dtype='object')

In [23]:
cat_pipe= Pipeline(steps=[
    ('encoder_generator', CustomEncoder()),
    ('impute', SimpleImputer(strategy="most_frequent"))])

In [24]:
array2=cat_pipe.fit_transform(input_feature_data_df)

In [44]:
array2

array([[328, 48, 521585, ..., 'Saab', '92x', 2004],
       [228, 42, 342868, ..., 'Mercedes', 'E400', 2007],
       [134, 29, 687698, ..., 'Dodge', 'RAM', 2007],
       ...,
       [130, 34, 918516, ..., 'Suburu', 'Impreza', 1996],
       [458, 62, 533940, ..., 'Audi', 'A5', 1998],
       [456, 60, 556080, ..., 'Mercedes', 'E400', 2007]], dtype=object)

In [50]:
df2 = pd.DataFrame(array2, columns=['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year'])

In [51]:
df2.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,328,48,521585,2014-10-17,OH,2.5,1000,1406.91,0,466132,...,1,2,1.0,71610,6510,13020,52080,Saab,92x,2004
1,228,42,342868,2006-06-27,IN,2.5,2000,1197.22,5000000,468176,...,0,0,0.0,5070,780,780,3510,Mercedes,E400,2007
2,134,29,687698,2000-09-06,OH,1.0,2000,1413.14,5000000,430632,...,2,3,0.0,34650,7700,3850,23100,Dodge,RAM,2007
3,256,41,227811,1990-05-25,IL,2.5,2000,1415.74,6000000,608117,...,1,2,0.0,63400,6340,6340,50720,Chevrolet,Tahoe,2014
4,228,44,367455,2014-06-06,IL,5.0,1000,1583.91,6000000,610706,...,0,1,0.0,6500,1300,650,4550,Accura,RSX,2009

In [108]:
input_feature_data_df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,1,2,YES,71610,6510,13020,52080,Saab,92x,2004
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,0,0,NaN,5070,780,780,3510,Mercedes,E400,2007
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,0,1,NO,6500,1300,650,4550,Accura,RSX,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,0,1,NaN,87200,17440,8720,61040,Honda,Accord,2006
996,285,41,186934,2014-01-05,IL,100/300,1000,1436.79,0,608177,...,2,3,NaN,108480,18080,18080,72320,Volkswagen,Passat,2015
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,2,3,YES,67500,7500,7500,52500,Suburu,Impreza,1996
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,0,1,YES,46980,5220,5220,36540,Audi,A5,1998
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,0,3,NaN,5060,460,920,3680,Mercedes,E400,2007

In [52]:
df2.isna().sum()

months_as_customer             0
age                            0
policy_number                  0
policy_bind_date               0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
dtype: int64

In [53]:
df3=df2.copy()

In [54]:
df3.drop(columns_to_remove, axis=1, inplace=True)

In [107]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   object
 1   policy_csl                   1000 non-null   object
 2   policy_deductable            1000 non-null   object
 3   policy_annual_premium        1000 non-null   object
 4   umbrella_limit               1000 non-null   object
 5   insured_sex                  1000 non-null   object
 6   insured_education_level      1000 non-null   object
 7   insured_occupation           1000 non-null   object
 8   insured_relationship         1000 non-null   object
 9   capital-gains                1000 non-null   object
 10  capital-loss                 1000 non-null   object
 11  incident_type                1000 non-null   object
 12  collision_type               1000 non-null   object
 13  incident_severity            1000 non-null   object
 14  authorities_contacted        1000 non-null   object
 15  incident_hour_of_the_day     1000 non-null   object
 16  number_of_vehicles_involved  1000 non-null   object
 17  property_damage              1000 non-null   object
 18  bodily_injuries              1000 non-null   object
 19  witnesses                    1000 non-null   object
 20  police_report_available      1000 non-null   object
 21  injury_claim                 1000 non-null   object
 22  property_claim               1000 non-null   object
 23  vehicle_claim                1000 non-null   object
dtypes: object(24)
memory usage: 187.6+ KB

In [105]:
df3['authorities_contacted'].unique()

array(['Police', 'None', 'Fire', 'Other', 'Ambulance'], dtype=object)

In [106]:
df3

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,2.5,1000,1406.91,0,1,6,craft-repair,husband,53300,...,Police,5,1,1.0,1,2,1.0,6510,13020,52080
1,228,2.5,2000,1197.22,5000000,1,6,machine-op-inspct,other-relative,0,...,Police,8,1,0.0,0,0,0.0,780,780,3510
2,134,1.0,2000,1413.14,5000000,0,7,sales,own-child,35100,...,Police,7,3,0.0,2,3,0.0,7700,3850,23100
3,256,2.5,2000,1415.74,6000000,0,7,armed-forces,unmarried,48900,...,Police,5,1,0.0,1,2,0.0,6340,6340,50720
4,228,5.0,1000,1583.91,6000000,1,5,sales,unmarried,66000,...,None,20,1,0.0,0,1,0.0,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,5.0,1000,1310.8,0,0,4,craft-repair,unmarried,0,...,Fire,20,1,1.0,0,1,0.0,17440,8720,61040
996,285,1.0,1000,1436.79,0,0,7,prof-specialty,wife,70900,...,Fire,23,1,1.0,2,3,0.0,18080,18080,72320
997,130,2.5,500,1383.49,3000000,0,4,armed-forces,other-relative,35100,...,Police,4,3,0.0,2,3,1.0,7500,7500,52500
998,458,5.0,2000,1356.92,5000000,1,5,handlers-cleaners,wife,0,...,Other,2,1,0.0,0,1,1.0,5220,5220,36540
999,456,2.5,1000,766.19,0,0,5,sales,husband,0,...,Police,6,1,0.0,0,3,0.0,460,920,3680

In [93]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   object
 1   policy_csl                   1000 non-null   object
 2   policy_deductable            1000 non-null   object
 3   policy_annual_premium        1000 non-null   object
 4   umbrella_limit               1000 non-null   object
 5   insured_sex                  1000 non-null   object
 6   insured_education_level      1000 non-null   object
 7   insured_occupation           1000 non-null   object
 8   insured_relationship         1000 non-null   object
 9   capital-gains                1000 non-null   object
 10  capital-loss                 1000 non-null   object
 11  incident_type                1000 non-null   object
 12  collision_type               1000 non-null   object
 13  incident_severity            1000 non-null   object
 14  authorities_contacted        1000 non-null   object
 15  incident_hour_of_the_day     1000 non-null   object
 16  number_of_vehicles_involved  1000 non-null   object
 17  property_damage              1000 non-null   object
 18  bodily_injuries              1000 non-null   object
 19  witnesses                    1000 non-null   object
 20  police_report_available      1000 non-null   object
 21  injury_claim                 1000 non-null   object
 22  property_claim               1000 non-null   object
 23  vehicle_claim                1000 non-null   object
dtypes: object(24)
memory usage: 187.6+ KB

In [80]:
cat_pipe2= Pipeline(steps=[
    ('encoder_generator', CustomEncoder()),
    
    ('impute', SimpleImputer(strategy="most_frequent"))])

In [81]:
array3=cat_pipe2.fit_transform(df3)

In [77]:
array3[0]

array([328, 1000, 1406.91, 0, 'craft-repair', 'husband', 53300, 0,
       'Single Vehicle Collision', 'Side Collision', 'Police', 5, 1, 1, 2,
       6510, 13020, 52080], dtype=object)

In [ ]:
def get_data_transformer_object():
    
    num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median")),
                ('scaler', StandardScaler())]
            )

    cat_pipeline = Pipeline(steps=[
         ('impute', SimpleImputer(strategy="most_frequent")),
         ('encoder_generator', CustomEncoder()),
         ('scaler', StandardScaler(with_mean=False))])
    
    
    preprocessing = ColumnTransformer([
                ('num_pipeline', num_pipeline, numerical_columns),
                ('cat_pipeline', cat_pipeline, categorical_columns),
            ])
    return preprocessing

In [85]:
columns_with_string_datatype=["policy_bind_date", "policy_state", "policy_csl", "insured_sex", 
"insured_education_level", "insured_occupation", "insured_hobbies", "insured_relationship", 
"incident_state", "incident_date", "incident_type", "collision_type", "incident_severity", 
"authorities_contacted", "incident_city", "incident_location", "property_damage", 
"police_report_available", "auto_make","auto_model", "fraud_reported"]

numerical_columns= ["months_as_customer", "policy_deductable", "umbrella_limit", "capital-gains", 
"capital-loss", "incident_hour_of_the_day", "number_of_vehicles_involved", "bodily_injuries", 
"witnesses", "injury_claim", "property_claim", "vehicle_claim"]


columns_to_remove= ["policy_number", "policy_bind_date", "policy_state","insured_zip", 
"incident_location", "incident_date","incident_state", "incident_city", "insured_hobbies",
"auto_make", "auto_model", "auto_year", "age", "total_claim_amount"]

In [88]:
non_similar1 = list(set(columns_with_string_datatype) ^ set(columns_to_remove))

In [89]:
non_similar1

['insured_occupation',
 'authorities_contacted',
 'policy_csl',
 'property_damage',
 'policy_number',
 'fraud_reported',
 'incident_type',
 'insured_relationship',
 'insured_zip',
 'collision_type',
 'age',
 'total_claim_amount',
 'incident_severity',
 'police_report_available',
 'auto_year',
 'insured_education_level',
 'insured_sex']

In [90]:
non_similar2 = list(set(numerical_columns) ^ set(columns_to_remove))

In [91]:
non_similar2

['number_of_vehicles_involved',
 'incident_date',
 'injury_claim',
 'incident_location',
 'policy_state',
 'age',
 'auto_make',
 'months_as_customer',
 'policy_bind_date',
 'auto_year',
 'property_claim',
 'auto_model',
 'policy_deductable',
 'policy_number',
 'witnesses',
 'incident_hour_of_the_day',
 'insured_zip',
 'incident_state',
 'bodily_injuries',
 'incident_city',
 'insured_hobbies',
 'total_claim_amount',
 'umbrella_limit',
 'vehicle_claim',
 'capital-loss',
 'capital-gains']

In [92]:
col_for_custom_encode=['policy_csl', 'insured_education_level', 'incident_severity', 'insured_sex', 'property_damage', 'police_report_available']

In [94]:
num_col_for_encode=["months_as_customer", "policy_deductable", "umbrella_limit", "capital-gains", 
"capital-loss", "incident_hour_of_the_day", "number_of_vehicles_involved", "bodily_injuries", 
"witnesses", "injury_claim", "property_claim", "vehicle_claim"]

In [109]:
col_for_ohe=['insured_occupation', 'insured_relationship', 'incident_type', 'collision_type', 'authorities_contacted']

In [112]:
new_df=input_feature_data_df.copy()

In [113]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               822 non-null    object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              640 non-null    object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      657 non-null    object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
dtypes: float64(1), int64(17), object(20)
memory usage: 297.0+ KB

In [114]:
new_df.drop(columns_to_remove, axis=1, inplace=True)

In [115]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   policy_csl                   1000 non-null   object
 2   policy_deductable            1000 non-null   int64
 3   policy_annual_premium        1000 non-null   float64
 4   umbrella_limit               1000 non-null   int64
 5   insured_sex                  1000 non-null   object
 6   insured_education_level      1000 non-null   object
 7   insured_occupation           1000 non-null   object
 8   insured_relationship         1000 non-null   object
 9   capital-gains                1000 non-null   int64
 10  capital-loss                 1000 non-null   int64
 11  incident_type                1000 non-null   object
 12  collision_type               822 non-null    object
 13  incident_severity            1000 non-null   object
 14  authorities_contacted        1000 non-null   object
 15  incident_hour_of_the_day     1000 non-null   int64
 16  number_of_vehicles_involved  1000 non-null   int64
 17  property_damage              640 non-null    object
 18  bodily_injuries              1000 non-null   int64
 19  witnesses                    1000 non-null   int64
 20  police_report_available      657 non-null    object
 21  injury_claim                 1000 non-null   int64
 22  property_claim               1000 non-null   int64
 23  vehicle_claim                1000 non-null   int64
dtypes: float64(1), int64(12), object(11)
memory usage: 187.6+ KB

In [140]:
new_df[col_for_ohe].nunique()

insured_occupation       14
insured_relationship      6
incident_type             4
collision_type            3
authorities_contacted     5
dtype: int64

In [152]:
def get_data_transformer_object():
    
    col_for_custom_encode=['policy_csl', 'insured_education_level', 'incident_severity', 
                           'insured_sex', 'property_damage', 'police_report_available']
    num_col_for_encode=["months_as_customer", "policy_deductable", "umbrella_limit", "capital-gains", 
                        "capital-loss", "incident_hour_of_the_day", "number_of_vehicles_involved", 
                        "bodily_injuries", "witnesses", "injury_claim", "property_claim", "vehicle_claim"]
    col_for_ohe=['insured_occupation', 'insured_relationship', 'incident_type', 'collision_type', 'authorities_contacted']
    
    
    num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median")),
                ('scaler', StandardScaler())
            ]
            )

    cat_encode_pipe= Pipeline(steps=[
        
        ('encoder_generator', CustomEncoder()),
         ('impute', SimpleImputer(strategy="most_frequent")),
         
         ('scaler', StandardScaler(with_mean=False))])
    
    
    ohe_encode=Pipeline(steps=[
         ('impute', SimpleImputer(strategy="most_frequent")),
          ('one_hot_encoder', OneHotEncoder()),
         ('scaler', StandardScaler(with_mean=False))])
    
    
    preprocessing = ColumnTransformer([
                ('num_pipeline', num_pipeline, num_col_for_encode),
                ('cat_pipeline_for custom', cat_encode_pipe, col_for_custom_encode),
                ('cat_pipeline_ohe', ohe_encode, col_for_ohe)
            ])
    return preprocessing

In [153]:
data_transformer = get_data_transformer_object()

In [154]:
transformed_data = data_transformer.fit_transform(new_df)

In [155]:
transformed_data.shape

(1000, 50)

In [156]:
df = pd.DataFrame(transformed_data)

In [157]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.078140,-0.222383,-0.479476,1.011331,0.953851,-0.956261,-0.823865,0.009759,0.461838,-0.189283,...,2.038733,0.000000,0.000000,0.00000,2.237052,0.0,0.000000,0.000000,0.00000,2.199338
1,0.208995,1.412784,1.697980,-0.901927,0.953851,-0.524475,-0.823865,-1.210174,-1.338700,-1.363822,...,0.000000,3.426668,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
2,-0.608002,1.412784,1.697980,0.358023,0.953851,-0.668404,1.140056,1.229693,1.362107,0.054644,...,0.000000,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
3,0.452355,1.412784,2.133471,0.853388,-1.267577,-0.956261,-0.823865,0.009759,0.461838,-0.224130,...,2.038733,0.000000,2.297279,0.00000,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
4,0.208995,-0.222383,2.133471,1.467210,-0.683741,1.202666,-0.823865,-1.210174,-0.438431,-1.257232,...,0.000000,3.426668,0.000000,2.00361,0.000000,0.0,0.000000,3.476941,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.746582,-0.222383,-0.479476,-0.901927,0.953851,1.202666,-0.823865,-1.210174,-0.438431,2.051155,...,2.038733,0.000000,2.297279,0.00000,0.000000,0.0,2.402354,0.000000,0.00000,0.000000
996,0.704407,-0.222383,-0.479476,1.643100,0.953851,1.634452,-0.823865,1.229693,1.362107,2.182342,...,2.038733,0.000000,0.000000,2.00361,0.000000,0.0,2.402354,0.000000,0.00000,0.000000
997,-0.642767,-1.039966,0.826998,0.358023,0.953851,-1.100189,1.140056,1.229693,1.362107,0.013648,...,0.000000,0.000000,0.000000,0.00000,2.237052,0.0,0.000000,0.000000,0.00000,2.199338
998,2.208028,1.412784,1.697980,-0.901927,0.953851,-1.388046,-0.823865,-1.210174,-0.438431,-0.453708,...,2.038733,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,2.50946,0.000000
999,2.190645,-0.222383,-0.479476,-0.901927,0.953851,-0.812332,-0.823865,-1.210174,1.362107,-1.429416,...,0.000000,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338

In [141]:
def get_data_transformer_object2():
    
    col_for_custom_encode=['policy_csl', 'insured_education_level', 'incident_severity', 
                           'insured_sex', 'property_damage', 'police_report_available']
    num_col_for_encode=["months_as_customer", "policy_deductable", "umbrella_limit", "capital-gains", 
                        "capital-loss", "incident_hour_of_the_day", "number_of_vehicles_involved", 
                        "bodily_injuries", "witnesses", "injury_claim", "property_claim", "vehicle_claim"]
    col_for_ohe=['insured_occupation', 'insured_relationship', 'incident_type', 'collision_type', 'authorities_contacted']
    
    
    num_pipeline = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy="median"))
            ]
            )

    cat_encode_pipe= Pipeline(steps=[
        
        ('encoder_generator', CustomEncoder()),
         ('impute', SimpleImputer(strategy="most_frequent"))])
    
    
    ohe_encode=Pipeline(steps=[
         ('impute', SimpleImputer(strategy="most_frequent")),
          ('one_hot_encoder', OneHotEncoder())])
    
    
    preprocessing = ColumnTransformer([
                ('num_pipeline', num_pipeline, num_col_for_encode),
                ('cat_pipeline_for custom', cat_encode_pipe, col_for_custom_encode),
                ('cat_pipeline_ohe', ohe_encode, col_for_ohe)
            ])
    return preprocessing

In [142]:
data_transformer2 = get_data_transformer_object()

In [143]:
transformed_data2 = data_transformer2.fit_transform(new_df)

In [144]:
dff = pd.DataFrame(transformed_data2)

In [145]:
dff

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.078140,-0.222383,-0.479476,1.011331,0.953851,-0.956261,-0.823865,0.009759,0.461838,-0.189283,...,2.038733,0.000000,0.000000,0.00000,2.237052,0.0,0.000000,0.000000,0.00000,2.199338
1,0.208995,1.412784,1.697980,-0.901927,0.953851,-0.524475,-0.823865,-1.210174,-1.338700,-1.363822,...,0.000000,3.426668,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
2,-0.608002,1.412784,1.697980,0.358023,0.953851,-0.668404,1.140056,1.229693,1.362107,0.054644,...,0.000000,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
3,0.452355,1.412784,2.133471,0.853388,-1.267577,-0.956261,-0.823865,0.009759,0.461838,-0.224130,...,2.038733,0.000000,2.297279,0.00000,0.000000,0.0,0.000000,0.000000,0.00000,2.199338
4,0.208995,-0.222383,2.133471,1.467210,-0.683741,1.202666,-0.823865,-1.210174,-0.438431,-1.257232,...,0.000000,3.426668,0.000000,2.00361,0.000000,0.0,0.000000,3.476941,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.746582,-0.222383,-0.479476,-0.901927,0.953851,1.202666,-0.823865,-1.210174,-0.438431,2.051155,...,2.038733,0.000000,2.297279,0.00000,0.000000,0.0,2.402354,0.000000,0.00000,0.000000
996,0.704407,-0.222383,-0.479476,1.643100,0.953851,1.634452,-0.823865,1.229693,1.362107,2.182342,...,2.038733,0.000000,0.000000,2.00361,0.000000,0.0,2.402354,0.000000,0.00000,0.000000
997,-0.642767,-1.039966,0.826998,0.358023,0.953851,-1.100189,1.140056,1.229693,1.362107,0.013648,...,0.000000,0.000000,0.000000,0.00000,2.237052,0.0,0.000000,0.000000,0.00000,2.199338
998,2.208028,1.412784,1.697980,-0.901927,0.953851,-1.388046,-0.823865,-1.210174,-0.438431,-0.453708,...,2.038733,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,2.50946,0.000000
999,2.190645,-0.222383,-0.479476,-0.901927,0.953851,-0.812332,-0.823865,-1.210174,1.362107,-1.429416,...,0.000000,0.000000,0.000000,2.00361,0.000000,0.0,0.000000,0.000000,0.00000,2.199338

In [148]:
transformed_data2[0]

array([ 1.07813958, -0.22238259, -0.47947582,  1.01133064,  0.95385051,
       -0.95626066, -0.82386498,  0.00975947,  0.46183785, -0.18928317,
        1.16550497,  0.74965272,  1.54777318,  2.98388909,  3.11171845,
        2.00549859,  2.17805487,  2.15463206,  0.        ,  0.        ,
        3.82013444,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  2.66217434,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        2.03873281,  0.        ,  0.        ,  0.        ,  2.2370525 ,
        0.        ,  0.        ,  0.        ,  0.        ,  2.19933784])

In [162]:
#As per pycharm code